beautifulsoup4
decorator
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
httplib2
isort
jedi
lxml
oauthlib
packaging
parso
proto-plus
protobuf
psutil
python-dateutil
regex
requests
requests-oauthlib
typing_extensions
pyperclip
